openapi: 3.0.3
info:
  title: Tacker API
  version: 2.1.0
  description: >
    REST API for the Tacker application — LeetCode interview preparation tracker.
    All filtering, sorting, pagination, SRS computation, and business logic lives in the backend.
    The frontend is a pure presentation layer; it never computes dates or revision schedules.

    ## Key Invariants
    - `tags` fields are always arrays (never comma-strings).
    - `companies` objects are always `{name, slug, count}`.
    - `dateSolved` and `nextRevisionDate` are **always server-computed** — never send them from the frontend.
    - `status=Unsolved` is a **destructive reset** — clears notes, pattern, solutionLink, confidence.

  contact:
    name: Tacker Support
    url: https://github.com/vikramadtya/problem-sorter

servers:
  - url: https://api.tacker.dev/api/v1
    description: Production Server
  - url: http://localhost:4000/api/v1
    description: Mock Server (Development)

security:
  - BearerAuth: []

tags:
  - name: Questions
    description: Browse and filter the question catalogue
  - name: Progress
    description: Track per-user question progress (SRS)
  - name: Analytics
    description: Stats, streaks, and heatmap data
  - name: Metadata
    description: Patterns, platforms, tags, and companies
  - name: System
    description: Health checks and utilities

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Pass the NextAuth session token in the Authorization header.
        Mock server accepts any non-empty token.

  headers:
    X-Request-ID:
      description: UUID assigned to this request. Echo it back in error reports.
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

  schemas:

    # ----------------------------------------------------------------
    # Error envelope — returned by ALL error responses
    # ----------------------------------------------------------------

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 404
        message:
          type: string
          description: Human-readable error message
          example: "Question 9999 not found"
        errors:
          type: array
          description: Validation errors (OpenAPI schema violations)
          items:
            type: object
            properties:
              path:
                type: string
              message:
                type: string
        requestId:
          type: string
          format: uuid
          description: Request ID for log correlation

    # ----------------------------------------------------------------
    # Core Question + Progress
    # ----------------------------------------------------------------

    QuestionWithProgress:
      type: object
      required: [id, title, difficulty, isCustom, progress]
      properties:
        id:
          type: string
          description: Unique question identifier (numeric string for LeetCode, prefixed for custom)
          example: "1"
          minLength: 1
        title:
          type: string
          description: Full question title
          example: "Two Sum"
          minLength: 1
          maxLength: 512
        url:
          type: string
          format: uri
          example: "https://leetcode.com/problems/two-sum/"
        difficulty:
          type: string
          enum: [Easy, Medium, Hard]
          example: Easy
        acceptanceRate:
          type: string
          description: Acceptance rate as a formatted string
          example: "57.5%"
        frequency:
          type: number
          format: float
          minimum: 0
          example: 100.0
        companies:
          type: array
          description: Lowercase company slugs this question is tagged to
          items:
            type: string
            minLength: 1
          example: ["google", "amazon", "meta"]
        isCustom:
          type: boolean
          default: false
          description: True if this was added by the user via POST /custom-questions
        progress:
          $ref: '#/components/schemas/ProgressData'

    ProgressData:
      type: object
      description: >
        Server-authoritative progress record for a single question.
        ALL date fields are ISO-8601 strings stamped by the server.
        NEVER compute `dateSolved` or `nextRevisionDate` on the frontend.
      required: [status, revise, attempts, timeSpent, tags, important]
      properties:
        status:
          type: string
          enum: [Unsolved, Attempted, Solved]
          default: Unsolved
        dateSolved:
          type: string
          format: date-time
          nullable: true
          description: >
            ISO-8601 UTC timestamp. Stamped by the server when `status` first
            transitions to `Solved`. Preserved on subsequent updates. Cleared on reset.
          example: "2026-06-10T10:30:00.000Z"
        confidenceLevel:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
          description: >
            SRS self-assessment score: 1=Forgot (→1d), 2=Hard (→3d), 3=Good (→7d), 4=Easy (→14d).
          example: 3
        nextRevisionDate:
          type: string
          format: date-time
          nullable: true
          description: >
            ISO-8601 UTC timestamp. Computed by the server from `confidenceLevel` using
            the SRS interval table. Updated whenever `revise=true` or `confidenceLevel` changes.
          example: "2026-06-17T10:30:00.000Z"
        revise:
          type: boolean
          default: false
          description: Whether the user has actively flagged this for SRS revision.
        isDueForRevision:
          type: boolean
          description: Computed field. True if revise=true OR nextRevisionDate is in the past.
        attempts:
          type: integer
          minimum: 0
          default: 0
          description: Total number of solution attempts.
          example: 3
        timeSpent:
          type: integer
          minimum: 0
          default: 0
          description: Cumulative time spent in seconds.
          example: 1800
        notes:
          type: string
          default: ""
          maxLength: 50000
          description: User's markdown notes and approach writeup.
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
          default: []
          description: >
            User-curated labels. Always an array — never a comma-separated string.
          example: ["interview-favourite", "revisit"]
        pattern:
          type: string
          default: ""
          maxLength: 128
          description: Algorithmic pattern assigned by the user (e.g. "Two Pointers").
        solutionLink:
          type: string
          format: uri
          default: ""
          description: Link to the user's own solution (e.g. GitHub gist).
          example: "https://github.com/user/solutions/blob/main/two-sum.py"
        important:
          type: boolean
          default: false
          description: Starred / bookmarked by the user.

    ProgressUpdateRequest:
      type: object
      description: >
        Partial update to user progress. Include only the fields you want to change.

        ## Server business rules
        - `status=Solved` → stamps `dateSolved` (first solve only), computes `nextRevisionDate` from `confidenceLevel`.
        - `status=Unsolved` → **destructive reset**: clears notes, pattern, solutionLink, confidence, dates. Preserves tags and important.
        - `revise=true` → recomputes `nextRevisionDate` from `confidenceLevel`.
        - `revise=false` → clears `nextRevisionDate`.
        - `confidenceLevel` change while `revise=true` → reschedules.

        ## ⚠ Do NOT send
        - `dateSolved` — server-managed.
        - `nextRevisionDate` — server-managed.
      properties:
        status:
          type: string
          enum: [Unsolved, Attempted, Solved]
        confidenceLevel:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
        revise:
          type: boolean
        attempts:
          type: integer
          minimum: 0
        timeSpent:
          type: integer
          minimum: 0
        notes:
          type: string
          maxLength: 50000
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
          description: Always send as an array.
        pattern:
          type: string
          maxLength: 128
        solutionLink:
          type: string
          format: uri
        important:
          type: boolean
      additionalProperties: false

    BulkProgressItem:
      type: object
      required: [id]
      description: Single item in a bulk progress update (used by flashcard sessions).
      properties:
        id:
          type: string
          minLength: 1
          description: Question ID to update.
        confidenceLevel:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
        revise:
          type: boolean
        notes:
          type: string
          maxLength: 50000
        pattern:
          type: string
          maxLength: 128
        timeSpent:
          type: integer
          minimum: 0
      additionalProperties: false

    BulkProgressRequest:
      type: object
      required: [updates]
      properties:
        updates:
          type: array
          items:
            $ref: '#/components/schemas/BulkProgressItem'
          minItems: 1
          maxItems: 500
          description: List of progress updates to apply atomically.

    BulkProgressResponse:
      type: object
      required: [updated, results]
      properties:
        updated:
          type: integer
          description: Number of records successfully updated.
          example: 5
        results:
          type: array
          items:
            type: object
            required: [id, progress]
            properties:
              id:
                type: string
              progress:
                $ref: '#/components/schemas/ProgressData'

    PaginatedQuestionsResponse:
      type: object
      required: [data, totalCount, page, totalPages]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QuestionWithProgress'
        totalCount:
          type: integer
          minimum: 0
          description: Total number of questions matching the filters (before pagination).
          example: 2500
        page:
          type: integer
          minimum: 1
          description: Current page number.
          example: 1
        totalPages:
          type: integer
          minimum: 1
          description: Total number of pages.
          example: 50

    # ----------------------------------------------------------------
    # Metadata / Utilities
    # ----------------------------------------------------------------

    UtilityItem:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          minLength: 1
          example: "pat-1"
        name:
          type: string
          minLength: 1
          maxLength: 128
          example: "Two Pointers"
        description:
          type: string
          default: ""
          maxLength: 512
          example: "Two pointers iterating through data structures."

    MetadataRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 512
      additionalProperties: false

    MetadataResponse:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/UtilityItem'

    UtilitiesResponse:
      type: object
      required: [difficulties, platforms, patterns, tags]
      properties:
        difficulties:
          type: array
          items:
            $ref: '#/components/schemas/UtilityItem'
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/UtilityItem'
        patterns:
          type: array
          items:
            $ref: '#/components/schemas/UtilityItem'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/UtilityItem'

    # ----------------------------------------------------------------
    # Companies
    # ----------------------------------------------------------------

    CompanyItem:
      type: object
      required: [name, slug, count]
      properties:
        name:
          type: string
          description: Human-readable display name (may be capitalized)
          example: "Google"
        slug:
          type: string
          description: Lowercase URL-safe slug used as filter value
          example: "google"
        count:
          type: integer
          minimum: 0
          description: Number of questions tagged with this company.
          example: 42

    # ----------------------------------------------------------------
    # Custom Questions
    # ----------------------------------------------------------------

    CustomQuestionRequest:
      type: object
      required: [title]
      properties:
        id:
          type: string
          nullable: true
          description: Optional custom ID. Server generates one if omitted.
        title:
          type: string
          minLength: 1
          maxLength: 512
        link:
          type: string
          format: uri
          description: URL to the problem (any platform).
        difficulty:
          type: string
          enum: [Easy, Medium, Hard]
          default: Medium
        platform:
          type: string
          maxLength: 128
          description: Platform name (e.g. "HackerRank", "CodeForces").
        pattern:
          type: string
          maxLength: 128
        confidenceLevel:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
        timeTaken:
          type: integer
          minimum: 0
          nullable: true
          description: Time spent in minutes (converted to seconds server-side).
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
          description: Always send as an array.
      additionalProperties: false

    CustomQuestionResponse:
      type: object
      required: [success, question]
      properties:
        success:
          type: boolean
          example: true
        question:
          $ref: '#/components/schemas/QuestionWithProgress'

    # ----------------------------------------------------------------
    # Analytics
    # ----------------------------------------------------------------

    NameCountPair:
      type: object
      required: [name, count]
      properties:
        name:
          type: string
        count:
          type: integer
          minimum: 0

    DifficultyBreakdown:
      type: object
      required: [Easy, Medium, Hard]
      properties:
        Easy:
          type: integer
          minimum: 0
          example: 12
        Medium:
          type: integer
          minimum: 0
          example: 8
        Hard:
          type: integer
          minimum: 0
          example: 3

    StatsResponse:
      type: object
      required: [totalSolved, totalAttempted, totalQuestions, totalRevise, currentStreak, maxStreak, weeklyCount, difficultyBreakdown]
      description: >
        Lightweight stats for StatsBar, streak widget, and heatmap.
        Cached server-side and invalidated on every progress update.
        Use this endpoint from Tracker and Explore pages — not /analytics.
      properties:
        totalSolved:
          type: integer
          minimum: 0
          example: 23
        totalAttempted:
          type: integer
          minimum: 0
          example: 5
        totalQuestions:
          type: integer
          minimum: 0
          example: 2650
        totalRevise:
          type: integer
          minimum: 0
          description: Count of questions flagged for revision (revise=true OR past due date).
          example: 4
        currentStreak:
          type: integer
          minimum: 0
          description: Current consecutive-day solving streak.
          example: 7
        maxStreak:
          type: integer
          minimum: 0
          description: All-time longest streak.
          example: 14
        weeklyCount:
          type: integer
          description: Questions solved in the last 7 days
          example: 12
        dailyCount:
          type: integer
          description: Questions solved today
          example: 2
        completionPercent:
          type: string
          description: Computed completion percentage of all questions.
          example: "12.5"
        activityTimeline:
          type: object
          nullable: true
          additionalProperties:
            type: integer
            minimum: 0
          description: >
            Sparse map of date string (YYYY-MM-DD) to number of problems solved on that date.
            Only dates with at least 1 solve are present.
          example: {"2026-06-10": 3, "2026-06-09": 1}
        difficultyBreakdown:
          $ref: '#/components/schemas/DifficultyBreakdown'

    WrapUpResponse:
      type: object
      properties:
        totalSolved:
          type: integer
          description: Total problems solved in the last 7 days.
        totalHours:
          type: number
          description: Total hours spent solving in the last 7 days.
        topPattern:
          type: string
          description: The most frequently practiced pattern this week.
        longestStreak:
          type: integer
          description: Longest streak this week.

    ExtensionLogRequest:
      type: object
      required: [title, link, difficulty, platform, timeTaken]
      properties:
        title:
          type: string
        link:
          type: string
        difficulty:
          type: string
          enum: [Easy, Medium, Hard]
        platform:
          type: string
        timeTaken:
          type: integer
          description: Time taken in seconds

    AnalyticsResponse:
      allOf:
        - $ref: '#/components/schemas/StatsResponse'
        - type: object
          required: [
            topCompanies, platformsBreakdown, avgTimePerDiff, patternMasteryData, revisionList,
            totalFavourite, problemStatusOverview, confidenceVsDifficulty, patternUsageFrequency,
            tagsFrequency, problemsByPattern, problemsByTag, problemsSolvedOverTime,
            timePerDiffOverTime, patternsMostRevised, confidenceToProblemCount
          ]
          description: >
            Full analytics payload — superset of StatsResponse.
            Only fetched by the Dashboard page. Contains chart data.
          properties:
            totalFavourite:
              type: integer
              minimum: 0
            problemStatusOverview:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            confidenceVsDifficulty:
              type: array
              items:
                type: object
                properties:
                  difficulty:
                    type: string
                  level1:
                    type: integer
                  level2:
                    type: integer
                  level3:
                    type: integer
                  level4:
                    type: integer
            patternUsageFrequency:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            tagsFrequency:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            problemsByPattern:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            problemsByTag:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            problemsSolvedOverTime:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                  count:
                    type: integer
            timePerDiffOverTime:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                  Easy:
                    type: integer
                  Medium:
                    type: integer
                  Hard:
                    type: integer
            patternsMostRevised:
              type: array
              items:
                $ref: '#/components/schemas/NameCountPair'
            confidenceToProblemCount:
              type: array
              items:
                type: object
                properties:
                  level:
                    type: integer
                  count:
                    type: integer
            topCompanies:
              type: array
              description: Top 15 companies by number of solved questions.
              items:
                $ref: '#/components/schemas/NameCountPair'
            platformsBreakdown:
              type: array
              description: Solved count grouped by platform.
              items:
                $ref: '#/components/schemas/NameCountPair'
            avgTimePerDiff:
              type: array
              description: Average solving time in minutes, grouped by difficulty.
              items:
                type: object
                required: [name, avgMinutes]
                properties:
                  name:
                    type: string
                    enum: [Easy, Medium, Hard]
                  avgMinutes:
                    type: integer
                    minimum: 0
            patternMasteryData:
              type: array
              description: >
                Top 10 patterns sorted by solve count.
                `score` is mastery percentage (0–100).
              items:
                type: object
                required: [name, solved, score]
                properties:
                  name:
                    type: string
                  solved:
                    type: integer
                    minimum: 0
                  score:
                    type: integer
                    minimum: 0
                    maximum: 100
            revisionList:
              type: array
              description: >
                Up to 20 questions due for revision, sorted by nextRevisionDate ascending.
              items:
                type: object
                required: [id, title, difficulty]
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  difficulty:
                    type: string
                    enum: [Easy, Medium, Hard]
                  nextRevisionDate:
                    type: string
                    format: date-time
                    nullable: true

    # ----------------------------------------------------------------
    # Health
    # ----------------------------------------------------------------

    HealthResponse:
      type: object
      required: [status, uptime, timestamp]
      properties:
        status:
          type: string
          enum: [ok, degraded]
          example: ok
        uptime:
          type: integer
          description: Server uptime in seconds.
          example: 3600
        questionsLoaded:
          type: integer
          example: 2650
        companiesIndexed:
          type: integer
          example: 310
        progressRecords:
          type: integer
          example: 47
        analyticsCached:
          type: boolean
          example: true
        timestamp:
          type: string
          format: date-time
          example: "2026-06-10T10:30:00.000Z"

# ----------------------------------------------------------------
# PATHS
# ----------------------------------------------------------------

paths:

  /questions:
    get:
      operationId: getQuestions
      tags: [Questions]
      summary: Get paginated, filtered, sorted questions with user progress
      description: >
        Server-side filtering and sorting. Uses in-memory indexes for O(1)
        company and difficulty lookups. The UI consumes the output directly
        without any client-side filtering.

        ## Filter logic
        - `trackerMode=true` → only questions the user has engaged with (solved, attempted, starred, or marked for revision).
        - `reviseFilter=true` → only questions where `revise=true` OR `nextRevisionDate` is in the past.
        - Boolean parameters must be sent as the string literals `'true'` or `'false'` (OpenAPI query param convention).
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5000
            default: 50
        - name: search
          in: query
          description: Case-insensitive substring match on question title.
          schema:
            type: string
            maxLength: 256
          allowReserved: true
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [Easy, Medium, Hard, all]
            default: all
        - name: company
          in: query
          description: Company filter
          schema:
            type: string
        - name: timePeriod
          in: query
          description: Time period filter (only applies if company is specified). Valid values are 'all', 'thirty-days', 'three-months', 'six-months', 'more-than-six-months'
          schema:
            type: string
            enum: [all, thirty-days, three-months, six-months, more-than-six-months]
            default: all
            maxLength: 128
          allowReserved: true
        - name: tag
          in: query
          description: Case-insensitive substring match on user tags.
          schema:
            type: string
            maxLength: 128
          allowReserved: true
        - name: pattern
          in: query
          description: Exact match on algorithmic pattern name.
          schema:
            type: string
            maxLength: 128
          allowReserved: true
        - name: status
          in: query
          schema:
            type: string
            enum: [Unsolved, Attempted, Solved, all]
            default: all
        - name: starredOnly
          in: query
          description: Filter to only starred (important=true) questions.
          schema:
            type: string
            enum: ['true', 'false']
        - name: hideSolved
          in: query
          description: Exclude questions with status=Solved.
          schema:
            type: string
            enum: ['true', 'false']
        - name: reviseFilter
          in: query
          description: >
            Filter to questions needing revision (revise=true OR past nextRevisionDate).
          schema:
            type: string
            enum: ['true', 'false']
        - name: trackerMode
          in: query
          description: >
            When 'true', returns only questions the user has interacted with
            (solved, attempted, starred, or marked for revision).
          schema:
            type: string
            enum: ['true', 'false']
        - name: sortBy
          in: query
          description: >
            Column to sort by. Valid values: id, title, difficulty, frequency,
            acceptanceRate, dateSolved, attempts, timeSpent, revise.
          schema:
            type: string
            enum: [id, title, difficulty, frequency, acceptanceRate, dateSolved, attempts, timeSpent, revise]
          allowReserved: true
        - name: sortDirection
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Paginated question list with embedded progress
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedQuestionsResponse'
        '401':
          description: Unauthorized — missing or invalid Bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /progress/{questionId}:
    parameters:
      - name: questionId
        in: path
        required: true
        description: Question ID (matches `QuestionWithProgress.id`)
        schema:
          type: string
          minLength: 1

    get:
      operationId: getProgress
      tags: [Progress]
      summary: Get progress for a single question
      responses:
        '200':
          description: Full progress record for this question
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      operationId: updateProgress
      tags: [Progress]
      summary: Upsert progress for a question (partial update)
      description: >
        Server applies all business rules. See `ProgressUpdateRequest` for the full rule set.

        **Do not send** `dateSolved` or `nextRevisionDate` — they are always server-computed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgressUpdateRequest'
      responses:
        '200':
          description: >
            Full server-authoritative progress record. The frontend MUST replace
            local state with this response (not the request payload) to capture
            server-computed fields.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressData'
        '400':
          description: Validation error (e.g. unknown fields, invalid enum values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /progress/bulk:
    post:
      operationId: bulkUpdateProgress
      tags: [Progress]
      summary: Batch-update progress for multiple questions in one request
      description: >
        Used by the Flashcard mode to commit all confidence score changes at
        the end of a session — a single network round-trip instead of N PATCHes.
        Each item in the `updates` array goes through the same SRS state machine
        as `PATCH /progress/{id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkProgressRequest'
      responses:
        '200':
          description: Results for each updated question
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProgressResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /settings:
    get:
      operationId: getSettings
      tags: [System]
      summary: Get user settings
      responses:
        '200':
          description: Key-value pairs of settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
    patch:
      operationId: updateSettings
      tags: [System]
      summary: Update user settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: Updated key-value pairs
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Invalid payload

  /wrapup:
    get:
      operationId: getWrapUp
      tags: [Analytics]
      summary: Weekly wrap-up statistics
      description: Returns aggregate data for the past 7 days for the WrapUp modal.
      responses:
        '200':
          description: Weekly wrapup data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WrapUpResponse'
        '401':
          description: Unauthorized

  /extension/log:
    post:
      operationId: logFromExtension
      tags: [Progress]
      summary: Log a problem from the browser extension
      description: Automatically upserts a question and its progress from LeetCode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionLogRequest'
      responses:
        '200':
          description: Successfully logged
        '401':
          description: Unauthorized

  /stats:
    get:
      operationId: getStats
      tags: [Analytics]
      summary: Lightweight stats (StatsBar, streak widget, heatmap)
      description: >
        Cached server-side. Invalidated on every progress update.
        Call this from Tracker and Explore pages.
        Do NOT use `/analytics` for these pages — it is heavier.
      responses:
        '200':
          description: Lightweight stats bundle
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /analytics:
    get:
      operationId: getAnalytics
      tags: [Analytics]
      summary: Full analytics payload (Dashboard only)
      description: >
        Superset of `/stats`. Includes chart data (topCompanies, patternMastery, etc.).
        Cached server-side. Only call this from the Dashboard page.
      responses:
        '200':
          description: Full analytics bundle
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /utilities:
    get:
      operationId: getUtilities
      tags: [Metadata]
      summary: Get all system utilities in one call (difficulties, patterns, platforms, tags)
      description: >
        Batch utility endpoint to minimise startup round-trips.
        Call once on page mount and cache the result.
      responses:
        '200':
          description: All utility collections bundled
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilitiesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies:
    get:
      operationId: getCompanies
      tags: [Metadata]
      summary: Get all companies sorted by question count
      description: >
        Returns enriched company objects `{name, slug, count}`.
        The `slug` is the lowercase filter value; `name` is for display.
        Always includes a "Custom Questions" pseudo-company at index 0.
      responses:
        '200':
          description: Company list sorted by question count descending
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /custom-questions:
    post:
      operationId: createCustomQuestion
      tags: [Questions]
      summary: Create a custom tracked question
      description: >
        Adds a user-defined question to the catalogue and immediately
        creates a progress record for it. The question appears in the
        Tracker and in the "Custom Questions" company filter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuestionRequest'
      responses:
        '201':
          description: Created question with initial progress record
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomQuestionResponse'
        '400':
          description: Validation error (e.g. missing title)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /patterns:
    get:
      operationId: getPatterns
      tags: [Metadata]
      summary: Get all algorithmic patterns
      responses:
        '200':
          description: Pattern list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UtilityItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createPattern
      tags: [Metadata]
      summary: Create a new algorithmic pattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataRequest'
      responses:
        '201':
          description: Created pattern
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /platforms:
    get:
      operationId: getPlatforms
      tags: [Metadata]
      summary: Get all platforms
      responses:
        '200':
          description: Platform list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UtilityItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createPlatform
      tags: [Metadata]
      summary: Create a new platform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataRequest'
      responses:
        '201':
          description: Created platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tags:
    get:
      operationId: getTags
      tags: [Metadata]
      summary: Get all user-defined tags
      responses:
        '200':
          description: Tag list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UtilityItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createTag
      tags: [Metadata]
      summary: Create a new tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataRequest'
      responses:
        '201':
          description: Created tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      operationId: getHealth
      tags: [System]
      summary: Server health check
      description: >
        Returns server uptime and runtime statistics.
        Does NOT require authentication — safe for load-balancer probes.
      security: []
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Server is degraded or unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
